.light_bg .Games {
    padding: 0px 5px;
    color: grey;
    font-weight: 900;
}

.menuItems_dark {
    background: #454753;
    font-weight: 700;
    padding-bottom: 15px;
}

.menuItems_light {
    font-weight: 800;
    padding-bottom: 15px;
}

.CurrentGame a {
    color: white;
}