.Referral {
    font-weight: 400;
    font-size: 17px;
}

.Referral img {
    width: 30px;
}

.ref_page_copy {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 300px 50px;
    align-items: center;
    justify-items: center;
    width: 350px;
    margin: auto;
    border: 1px;
    border-radius: 5px;
    margin-top: 30px;
    border: 1px solid grey;
}

.ref_page_copy div {
    width: 100%;
    border-radius: 0px 5px 5px 0px;
    border-left: 2px solid grey;
}

.ref_page_copy img {
    width: 25px;
    padding: 5px;
    margin-bottom: -3px;
}