.sac_faq {
    margin-top: 100px;
    font-weight: bold;
    margin: 100px 20px;
}


.sac_faq_ques {
    display: grid;
    padding: 1px;
    grid-template-columns: 1fr 5fr;
    font-size: 12px;
    margin-bottom: 20px;
    /* justify-items: start; */
}

.sac_faq_ques_grad {
    margin-bottom: 0px;
    background: linear-gradient(to left, rgba(0, 219, 255, 1) 0%, rgba(124, 2, 255, 1) 28%, rgba(255, 43, 222, 1) 64%, rgba(253, 2, 19, 1) 100%);
}

.sac_faq_ques__arrow {
    padding: 5px 0px 0px 0px;
    background: #3a3939;
}

.sac_faq_ques img {
    width: 20px
}

;

.sac_faq_ques div {
    text-align: left !important;
    font-size: 20px !important;
}

.sac_faq_ques__ {
    text-align: left;
    padding: 5px 0px 0px 20px;
    background: #474747;
}

.sac_faq__answer {
    padding: 15px;
    font-size: 10px;
    text-align: left;
    background: #3a3939;
    color: grey;
    margin-bottom: 20px;
}

.sac_faq_disclaimer {
    margin-top: 150px;
    border-radius: 5px;
    font-size: 12px;
    background: linear-gradient(to left, rgba(0, 219, 255, 1) 0%, rgba(124, 2, 255, 1) 28%, rgba(255, 43, 222, 1) 64%, rgba(253, 2, 19, 1) 100%);
    padding: 2px;
    margin-bottom: 80px;
}

.sac_faq_disclaimer_inner {
    border-radius: 5px;
    padding: 30px 20px;
    background: #3a3939;
}

.sac_faq_disclaimer p {
    margin: 0px;
    padding-bottom: 30px;
    font-size: 20px;
}

.sac_faq_social {
    font-size: 14px;
}


.sac_faq_social span {
    padding: 0px 20px;
}


.sac_faq_social a {
    color: white;
    text-decoration: none;
}

.sac_faq_social span:hover {
    cursor: pointer;
    color: rgb(0, 162, 255);
}

.sac_faq_social img {
    width: 20px;
    margin-bottom: -4px;
}

.sac_faq_ga {
    margin: 30px 0px;
}

.sac_faq_ga span {
    font-size: 10px;
    color: grey;
}

.sac_faq_ga p {
    margin-top: 30px;
    font-size: 10px;
}

.sac_faq_games {
    justify-items: center;
    margin: 50px 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.sac_faq_games span {
    font-size: 10px;
}

.sac_faq_game span:last-child {
    font-weight: 600;
    color: grey;
}

.sac_faq_game:nth-child(2) span:last-child {
    font-weight: 600;
    color: rgb(231, 85, 0);
}

.sac_faq_game:first-child span:last-child {
    font-weight: bold;
    color: greenyellow;
}

.sac_faq_game_eta {
    font-weight: bold;
    color: grey;
}

.sac_faq_games p {
    margin-top: 30px;
    font-size: 10px;
}

.sac_faq_game {
    margin: 20px;
    position: relative;
}

.sac_faq_game_banner {
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 14px;
}

.sac_faq_game img {
    width: 40px;
    background: #3a3939;
    padding: 35px 40px;
    border-radius: 5px;
}

.sac_faq_game_title {
    color: grey;
}

.sac_faq_game_pulse {
    background: #3a3939;
    padding: 30px 40px;
    margin-bottom: 0px;
    border-radius: 5px;
}

.sac_faq_game_pulse>div {
    background: linear-gradient(to left, rgba(0, 219, 255, 1) 0%, rgba(124, 2, 255, 1) 28%, rgba(255, 43, 222, 1) 64%, rgba(253, 2, 19, 1) 100%);
    border-radius: 100%;
    padding: 4px;
    width: 40px;
    height: 40px;
}


.sac_faq_game_pulse div div {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    background: #3a3939;
    border-radius: 100%;
}


@media (min-width:1000px) {
    .sac_faq {
        max-width: 1000px;
        margin: auto;
        margin-top: 100px;
        font-size: 40px;
        font-weight: bold;
    }

    .sac_faq_ques {
        font-size: 22px;
        padding: 2px;
        max-width: 700px;
        margin: auto;
        margin-top: 30px;
    }

    .sac_faq_ques__arrow {
        padding: 15px 10px 10px 10px;
    }

    .sac_faq_ques__ {
        padding: 15px 10px 5px 10px;
    }

    .sac_faq__answer {
        max-width: 604px;
        margin: auto;
        padding: 30px 50px;
        font-size: 18px;
    }

    .sac_faq_disclaimer {
        margin: auto;
        margin-top: 300px;
        max-width: 700px;
    }

    .sac_faq_disclaimer_inner {
        border-radius: 5px;
        padding: 50px 50px 70px 50px;
        background: #3a3939;
        font-size: 18px;
    }

    .sac_faq_disclaimer p {
        margin: 0px;
        padding-bottom: 40px;
        font-size: 40px;
    }


    .sac_faq_social {
        font-size: 22px;
        margin-top: 250px;
    }


    .sac_faq_social span {
        padding: 0px 20px;
    }


    .sac_faq_social a {
        color: white;
        text-decoration: none;
    }

    .sac_faq_social span:hover {
        cursor: pointer;
        color: rgb(0, 162, 255);
    }

    .sac_faq_social img {
        width: 40px;
        margin-bottom: -8px;
    }

    .sac_faq_ga {
        margin: 100px 0px;
    }

    .sac_faq_ga span {
        font-size: 22px;
        color: grey;
    }

    .sac_faq_ga p {
        margin-top: 30px;
        font-size: 22px;
    }

    .sac_faq_games {
        justify-items: center;
        margin: 50px 20px;
        display: grid;
        max-width: 1000px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .sac_faq_games span {
        font-size: 20px;
    }


    .sac_faq_games p {
        margin-top: 30px;
        font-size: 20px;
    }

    .sac_faq_game {
        margin: 20px;
    }

    .sac_faq_game span div {
        padding: 0px 5px 5px 5px;
    }


    .sac_faq_game img {
        width: 60px;
        background: #3a3939;
        padding: 30px 80px;
        border-radius: 5px;
    }

    .sac_faq_game_pulse {
        background: #3a3939;
        padding: 35px 80px;
        margin-bottom: 0px;
        border-radius: 5px;
    }

    .sac_faq_game_pulse>div {
        background: linear-gradient(to left, rgba(0, 219, 255, 1) 0%, rgba(124, 2, 255, 1) 28%, rgba(255, 43, 222, 1) 64%, rgba(253, 2, 19, 1) 100%);
        border-radius: 100%;
        padding: 4px;
        width: 40px;
        height: 40px;
    }


    .sac_faq_game_pulse div div {
        width: 100%;
        height: 100%;
        min-width: 100%;
        min-height: 100%;
        background: #3a3939;
        border-radius: 100%;
    }

}